body {
  background-color: black;
  color: rgb(255, 115, 0);
}

img#pfp_img {
  width: 300px;
  height: 375px;
}

div.main-div {
  display: grid;
  grid-template-areas:
    "itm1 itm2 itm2 itm2 itm2 itm2 itm2 itm2"
    "itm3 itm3 itm3 itm3 itm3 itm3 itm3 itm3"
    "itm4 itm4 itm4 itm4 itm4 itm4 itm4 itm4";
}

div.profile-div {
  grid-area: itm1;
}
div.name-div {
  grid-area: itm2;
}

div.hr-div {
  grid-area: itm3;
}

.intro {
  grid-area: itm4;
  display: grid;
  grid-template-areas:
    "a a a"
    "b c d";
}

h1,
p,
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 125px;
}

p#welcome {
  border: 5px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

div.get-to-know {
  text-align: center;
  grid-area: a;
  font-size: 35px;
}

div.info-class {
  grid-area: b;
}

.info-class p,
.hobby p {
  width: 50%;
}

div.hobby {
  grid-area: c;
}

div.skills {
  grid-area: d;
}

div.hobby,
div.skills,
div.info-class {
  background-color: rgb(47, 47, 47);
  margin: 10px;
  border: 5px solid rgb(47, 47, 47);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

p#goals,
p#journal {
  text-align: center;
  font-size: 35px;
}

div.goals {
  border: 1px solid gray;
  border-radius: 25px;
  margin-left: 150px;
  margin-right: 150px;
  text-indent: 25px;
}

hr {
  border: none;
  height: 5px;
  background-color: rgb(255, 115, 0);
}

p#indent,
p#sec_indent,
p#third_indent {
  text-indent: 150px;
}

.journal {
  text-align: justify;
  background-color: rgb(31, 31, 31);
  border: 5px solid rgb(31, 31, 31);
}

.comment-entry {
  border: 5px solid rgb(255, 115, 0);
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 15px;
  width: 25%;
}

.comment-entry p {
  margin: 0;
}

#form_div input {
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: calc(100% - 5px);
}

form {
  width: 10%;
}

#form_div input[type="submit"] {
  background-color: rgb(255, 115, 0);
}
